


#jumbo{
	background-color: #F5690B;
	color: #ffffff;
	

}

.panel{
	background-color: #F5690B;
	color: #ffffff;
	
}

body{
	background-color: #F5690B;
	background-image: url(../images/trainpic.jpg);
	opacity:.9;
	background-position: center;
}